{"filter":false,"title":"requirements.txt","tooltip":"/taller-2706-11/semana4/semana5/trabajo final/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1784058308506,"hash":"afa306d0c890b8c4119396cd47bb25a196acb679"}